.links{
    @include t-bold();
    font-size: 1.15rem !important;
    &-item{
        &_active{
            color: $textActive;
            &::after{
                color: $blackText;
                content: " > ";
            }
        }
    }
    
}