@import "../../../shared/utils/index.scss";

.filter{
    @include t-bold();
    font-size: 0.9rem !important;
    width: 5rem;
    height: 2.5rem;
    @media (min-width: 480px) {
        position: relative;
    }
}

.list{
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    position: fixed;
    left: 0;
    border-radius: $mainRadius;
    background-color: $primaryBack;
    width: 100%;
    height: 90%;
    padding: 1rem;
    top: 5rem;
    z-index: 999;
    overflow: auto;
    @media (min-width: 480px) {
        border: 2px solid $mainBorder;
        height: auto;
        top: 3.1rem;
        position: absolute;
        width: 28rem;
    }
    &:focus{
        outline: none;
    }
}
