@import "../../../shared/utils/index.scss";

.container{
    margin: 0 auto;
    align-items: center;
    width: 100%;
    height: calc(100vh - 96px);
    @include t-bold();
    position: relative;
}

.text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}