.slider{
    margin-top: 1rem;
    z-index: 3;
    overflow: hidden;
    position: relative;
    &-container{
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        height: 45rem;
    }
    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        flex: 0 0 100%;
        margin-top: 1rem;
        z-index: 1;
        height: 40rem;
        top: 2rem;
        left: 0;
        margin-top: 1rem;
        opacity: 0.3;
        transition: transform 0.5s ease;
        animation-duration: 1.5s;
        animation-name: sliderView;
        @media (min-width: $tablet) {
            flex-direction: row;
            height: 45rem;
            justify-content: space-between;
        }
        &_title{
            @include t-bold();
        }
        &_price{
            @include t-bold();
        }
        &_description{
            
            @include t-main();
        }
        &_left{
            @include icon-next();
            transform: scaleX(-1);
            z-index: 4;
        }
        &_rigth{
            @include icon-next();
            right: 0;
            z-index: 4;
            
        }
        &_active{
            opacity: 1;
            transform: translateX(0);
        }
        &_prev{
            transform: translateX(100%);
        }
        &_next{
            transform: translateX(-100%);
        }

    }
    &-img{
        margin: 0 auto;
        height: auto;

        width: 60%;
       
        @media (min-width: 600px) {
            width: 50%;
        }
        
        
        @media (min-width: $tablet) {
            margin: 0;
        }
    
    }
    &-info{  
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;

        height: 10rem;
        @media (min-width:$tablet) {
            justify-content: space-evenly;
            height: 100%;
            width: 50%;
            margin: 0;
            padding: 10rem 4rem;
        }
    }
    &-title{
        display: block;
        width: 100%;
        @include t-bold();
        text-align: center;
        
    }

}

@keyframes sliderView {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
