.imgs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 0;

    @media (min-width: 640px) {
        flex-direction: row;
    }
}

// &-slider{
    //     position: absolute;
    //     top: 21rem;
    //     width: 100%;
    // }

