.collection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1rem;
    margin: 0 auto;
    margin-top: 3rem;
    @include t-bold();
    word-break: break-word;
    @media (min-width: $tablet) {
        padding: 1rem 1rem;
        flex-direction: row;
    }
    @media (min-width: $dekstop) {
        padding: 1rem 5rem;
        
    }
    &-info{
        padding-top: 3rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 35rem;
        margin: 0 auto;
        width: 100%;
        @media (min-width: 540px) {
            width: 30rem;
        }
        @media (min-width: $tablet) {
            width: 100%;
            margin-left: 5rem;
        }
        
        
        
    }
    &-company{
        color: $orangeText;
        font-size: 1rem;
        

    }
    &-price{
        display: flex;
        flex-direction: row;
        
        position: relative;
        width: 12rem;
    }
    &-descp{
        @include t-main();
    }
    &-discount{
        display: flex;
        align-items: center;
        
        justify-content: center;
        background-color: $paleBack;
        width: 3.5rem;
        height: 1.8rem;
        border-radius: $mainRadius;
        text-align: center;
        color: $textActive;
        font-size: 1.1rem;
        margin-left: 1rem;
        @media (min-width: $tablet) {
            margin-top: 0.4rem;
        }
    }
    &-trough{
        position: absolute;
        bottom: -2rem;
        text-decoration: line-through;
        @include t-main();
    }
}