.order{
    margin-top: 4.3rem;
    
    &-container{
        display: flex;
        flex-direction: row;
        width: 30rem;
        margin: 0 auto;
        @media (min-width: $tablet) {
            margin:  0;
        }
    }
    &-title{
        @include t-bold();

    }
    &-item{
        @include flex();
        @include t-main();
        margin-top: 2.8rem;
        height: 12rem;
        flex-wrap: wrap;
        border-bottom: 1px solid $mainBorder;
        position: relative;
        @media (min-width: 990px) {
            height: 7rem;
        }
        &_container{
            position: relative;
            overflow: hidden;
            height: 6rem;
            width: 10rem;
        }
        &_img{
            @include position-img-centre();
            width: 10rem;
            height: auto
            
        }
    }
    &-flex{
        @include flex();
        flex-direction: column;
        position: relative;
        height: 3rem;
        flex: 1;
        &_amount{
            margin-left: 1.4rem;
        }
    }
    &-special{
        margin-left: 1rem;
       
    }
    &-name{
        
        color: $textActive;
    }
    &-value{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        
        color: $blackText;

    }
    &-delete{
        position: absolute;
        bottom: 1.4rem;
        right: 0;
        @media (min-width: 990px) {
            right: 1rem;
            top: 2rem;
        }
    }
    &-svg {
        cursor: pointer;
    }
    &-svg:hover use{   
        fill: black;
    }
    &-through{
        margin-left: 1rem;
        
        text-decoration: line-through;
    }
    &-total{
        display: block;
        margin-top: 5rem !important;   
        @include t-bold();

    }
    &-amount{
        margin-left: 1.3rem;
        @media (min-width: $tablet) {
            margin-left: 1.6rem;
        }
    }
    
}