.send{
    display: flex;
    flex-direction: column;
    @include t-main();
    margin-top: 4rem;
    &-container{
        display: flex;
        flex-direction: column;
        padding-right: 66.5rem;
    }
    &-check{
        color: $errorText;
    }
    &-input{
        margin-top: 1rem;
        width: 13rem;
        height: 1.6rem;
        border: 1px solid #cecece;
	    background: rgb(255, 125, 26, 0.05);

    }
    input:focus {
        outline: none; 
        border-color: $mainBorder; /* Восстанавливает цвет границы по умолчанию */
    }
    &-text{
        width: 15rem;
        color: $blackText;
    }
    &-checkout{
        @include t-bold();
        font-size: 1.68rem !important;
        cursor: pointer;
        color: $whiteText;
        background-color: $buttonBack;
        width: 10rem;
        height: 3.3rem;
        border-radius: $mainRadius+0.75rem;
        border-color: $buttonBack;
        border-right: $buttonBack;
        border-bottom: $buttonBack;
        margin-top: 2.5rem;
        position: relative;
        text-align: center;
        &:hover{
            &::before{
                opacity: 1;
            }
        }
        &::before{
            opacity: 0;
            transition: all 0.5s;
            content: "";
            top: 50%;
            left: 49.5%;
            transform: translate(-50%, -50%);
            width: 102%;
            height: 109%;
            border-radius: $mainRadius+0.75rem;
            z-index: 3;
            position: absolute;
            background-color: $opacityLightBox;
        }
    }
    
}